{% extends 'klinika/main.html' %}
{% load static %}
{% block content %}
    <div id="form">
        <header class="name header">O nas</header>
        <p>
            <span class='about bold'>VetPet </span>
            <span class='about'> - system zarządzania kliniką weterynaryjną jako aplikacja webowa stworzona
                w ramach pracy dyplomowej na studiach inżynierskich
            (I stopnia) na Politechnice Częstochowskiej</span>
        </p>
        <p>
            <span class="bold">Celem powstania aplikacji... </span>
        </p>
    </div>
{% endblock content %}
