{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <style>
    p{
        text-align: initial!important;
    }
    section{
        font-size: 18px;
    }
    section > header{
        font-size: 20px;
        font-weight: bold;
        margin-left: 50px;
    }
    section > ul{
        text-align: left;
        margin-left: 100px;
    }
    section > ul > li{

        list-style-position: inherit;
    }
    </style>
{% endblock headAdditional %}
{% block content %}
    <div id="form">
        <header class="name header">O nas</header>
        <p>
            <span class='about bold'>VetPet </span>
            <span class='about'> - system zarządzania kliniką weterynaryjną jako aplikacja webowa stworzona
                w ramach pracy dyplomowej na studiach inżynierskich
            (I stopnia) na Politechnice Częstochowskiej</span>
        </p>
        <p>
            <span class="bold">Celem powstania aplikacji</span> jest usprawnienie działania kliniki weterynaryjnej
            poprzez stworzenie systemu zainspirowanego zaletami istniejących już systemów, a także przedstawieniu nowe
            funkcjonalności, na które nie pozwalają istniejące dotychczas systemy.

            <section>
                <header>Zainspirowane przez wyżej wymienione systemy zalety stworzonego na rzecz owej pracy systemu to:
                </header>
                <ul>
                    <li>Możliwość korzystania z aplikacji niezależnie od systemu</li>
                    <li> Możliwość prowadzenia historii leczenia zwierząt</li>
                    <li>System umożliwia dokumentacje wizyt</li>
                    <li> Łatwy dostęp do danych z dowolnego punktu</li>
                    <li> Możliwość zarządzania uprawnieniami poszczególnych użytkowników</li>
                    <li> Rozbudowane w szczegóły kartoteki zwierząt oraz ich właścicieli</li>
                    <li> Brak ograniczeń co do ilości stanowisk oraz lekarzy</li>
                </ul>
            </section>
            <section>
                <header>Zaś do wyróżniających go funkcjonalności należą:</header>
                <ul>
                    <li> Możliwość korzystania z systemu przez klientów kliniki weterynaryjnej poprzez samodzielne
                        utworzenie konta
                        oraz dodanie własnego zwierzęcia, podgląd terminów wizyt dla poszczególnych zwierząt użytkownika
                        oraz
                        wystawionych dla nich recept
                    </li>
                    <li> Możliwość podglądu wizyt oraz recept w zależności od ich statusu</li>
                    <li> Ponadto system automatycznie wysyła powiadomienia na adres email w celu weryfikacji nowo
                        utworzonego konta
                        użytkownika
                    </li>
                </ul>
            </section>
        </p>
    </div>
{% endblock content %}
