{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <style>
    .select2{
        width: 320px!important;
    }
    </style>
{% endblock headAdditional %}
{% block content %}
    <div id="form">
        <div id="formpresc">
            {% if error %}
                <p class="error"> {{ error }}</p>
            {% else %}
                <header class="name header">Dodawanie recepty</header>
                <label> Kod recepty
                    <input type="number" name="code" class="input_width disabled" style="margin-left: 212px" id="presccode" value="{{ code }}" disabled>
                </label>
                <label> Data ważności
                    <input type="date" name="expiration_date" class="input_width disabled" style="margin-left: 192px" id="expdate" placeholder="Data ważności"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Data ważności'">
                </label>
                <label style="margin-top: 30px">Zwierzę
                    <a id="btn-pet-choice" class="btn bstyle green" style="margin-top: 10px; margin-left: 326px;"> Wybierz zwierzę</a>
                    <div id="ch-pet-choice" style="display: none; margin-top: 20px; margin-left: 324px;">
                        <select name="pet" id="pet-choice" class="input_width">
                            <option disabled selected value="">Wybierz zwierzę</option>
                            {% for pet in pets %}
                                <option value="{{ pet.id }}">
                                    {{ pet.name }} {{ pet.date_of_birth|date:'d-m-Y' }}
                                    {{ pet.owner.first_name }} {{ pet.owner.last_name }}
                                </option>

                            {% endfor %}
                            <option>Dodaj</option>
                        </select>
                    </div>
                    <div id="pet-add" style="display: none;">
                        <input type="text" class="input_width" style="margin-left: 312px" name="name" id="petname" placeholder="Nazwa zwierzęcia"
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Nazwa zwierzęcia'">
                        <input type="date" class="input_width" style="margin-left: 312px" name="date_of_birth" id="petDoB" placeholder="Data urodzenia"
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Data urodzenia'">
                        <select name="sex" id="petsex" style="margin-left: 314px; width: 340px; text-align: center;
                        font-weight: bold; height: 45px; margin-top: 20px;">
                            <option disabled>Wybierz płeć zwierzęcia</option>
                            <option>Samiec</option>
                            <option>Samica</option>
                        </select>
                        <input type="text" class="input_width" style="margin-left: 312px" name="species" id="petspecies" placeholder="Gatunek"
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Gatunek'">
                        <input type="text" class="input_width" style="margin-left: 312px" name="additional_information" id="petai" placeholder="Dodatkowe informacje"
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Dodatkowe informacje' ">

                        <label style="margin-top: 30px"> Właściciel
                            <a id="btn-own-choice" class="btn bstyle green" style="margin-top: 10px; margin-left: 292px"> Wybierz
                                Właściciela
                            </a>
                            <div id="ch-own-choice" style="display: none; margin-left: 318px;margin-top: 30px">
                                <select name="own" id="own-choice">
                                    <option disabled selected value="">Wybierz właściciela zwierzęcia</option>
                                    {% for own in owners %}
                                        <option value="{{ own.id }}">
                                            {{ own.first_name }} {{ own.last_name }} {{ own.email }}
                                        </option>
                                    {% endfor %}
                                    <option>Dodaj</option>
                                </select>
                                <div id="own-add" style="display: none">
                                    <input type="text" class="input_width" style="margin-left: -12px" id="fname" name="first_name" placeholder="Imię"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Imię'">
                                    <input type="text" class="input_width" style="margin-left: -12px" id="lname" name="last_name" placeholder="Nazwisko"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Nazwisko'">
                                    <input type="email" class="input_width" style="margin-left: -12px" id="email" name="email" placeholder="Email"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Email'">
                                    <input type="tel" class="input_width" style="margin-left: -12px" id="phone" name="phone_number" placeholder="Numer telefonu"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Numer telefonu'">
                                </div>
                                <script>
                                    $(document).ready(() => {
                                        $('#own-choice').change(
                                            () => {
                                                if ($('#own-choice').val() === 'Dodaj')
                                                    $('#own-add').show(500)
                                                else
                                                    $('#own-add').hide(500)
                                            }
                                        )
                                    })
                                </script>
                            </div>
                        </label>
                    </div>
                </label>
                <script>
                    $(document).ready(() => {
                        $('#pet-choice').change(
                            () => {
                                if ($('#pet-choice').val() === 'Dodaj')
                                    $('#pet-add').show(500)
                                else
                                    $('#pet-add').hide(500)
                            }
                        )
                    })
                </script>
                <label style="margin-top: 30px">Lek/i
                    <a id="btn-cure-choice" class="btn bstyle green" style="margin-top: 10px; margin-left: 364px"> Wybierz
                        Lek/i
                    </a>
                    <div id="ch-cure-choice" style="display: none; margin-left: 90px">
                        <select name="cures" id="cure-choice" class="input_width">
                            <option disabled selected value="">Wybierz leki</option>
                            {% for cure in cures %}
                                <option value="{{ cure.id }}"
                                        data-name="{{ cure.name }} {{ cure.dose }} {{ cure.dose_type }}">
                                    {{ cure.name }} {{ cure.dose }} {{ cure.dose_type }}
                                </option>
                            {% endfor %}
                        </select>
                        <input id="cure-quantity" type="number" style="width: 50px" placeholder="0">
                        <select id="cure-unit" style="width: 200px">
                            <option value="sz.">sztuki</option>
                            <option value="ml">mililitry</option>
                            <option value="op">opakowania</option>
                            <option value="lst">listki</option>
                        </select>
                        <button id="cure-choice-add" class="btn bstyle green">Dodaj lek</button>
                    </div>
                </label>

                <table id="cure-table">
                    <thead>
                    <tr>
                        <th style="width: 350px">Nazwa leku</th>
                        <th style="width: 350px">Ilość</th>
                        <th style="width: 350px">jm.</th>
                        <th>id</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button id="get-data" class="green" style="margin-left: 352px;display: block;margin-top: 60px;
                width: 270px; height: 52px;">Zapisz
                </button>
            {% endif %}
            <input style="margin-left: 350px;" type="button" onclick="history.back()" value="Wróć">
        </div>
        <div id="msg" style="display: none;"></div>
    </div>
    <script>
        let show = {pet: false, own: false, cure: false};
        $("#btn-pet-choice").click(() => {
            if (show.pet === false) {
                $("#ch-pet-choice").show(500)
                show.pet = true
            } else {
                $("#ch-pet-choice").hide(500)
                show.pet = false
            }
        });

        $("#btn-own-choice").click(() => {
            if (show.own === false) {
                $("#ch-own-choice").show(500)
                show.own = true
            } else {
                $("#ch-own-choice").hide(500)
                show.own = false
            }
        });
        $("#btn-cure-choice").click(() => {
            if (show.cure === false) {
                $("#ch-cure-choice").show(500)
                show.cure = true
            } else {
                $("#ch-cure-choice").hide(500)
                show.cure = false
            }
        });
        $(document).ready(() => {
            $('#pet-choice').select2({
                placeholder: "Wybierz zwierzę",
                allowClear: true,
            });
            $('#own-choice').select2({
                placeholder: "Wybierz właściciela zwierzęcia",
                allowClear: true,
            });
            const table = $('#cure-table').DataTable({
                language: {url: "{% static 'json/polish.json'%}"},
                columnDefs: [
                    {visible: false, targets: 3},
                    {searchable: false, targets: [1, 2, 3]}
                ]
            });
            $('#cure-choice').select2({
                placeholder: "Wybierz lek/i",
                allowClear: true,
            })
            $('#cure-unit').select2()

            $('#cure-choice-add').click(() => {
                table.row.add([
                        $("#cure-choice").select2().find(":selected").data("name"),
                        $("#cure-quantity").val(),
                        $("#cure-unit").select2().find(":selected").val(),
                        $("#cure-choice").val(),
                    ]
                ).draw(false)
            })

            $('#get-data').click(() => {
                const rowcount = table.rows().count();
                const prescription = {
                    code: $("#presccode").val(),
                    expiration_date: $("#expdate").val(),
                    pet: $("#pet-choice").val() !== 'Dodaj' ? parseInt($("#pet-choice").val()) : 0,
                    newPet: $("#pet-choice").val() === 'Dodaj' ? {
                        name: $("#petname").val(),
                        date_of_birth: $("#petDoB").val(),
                        sex: $("#petsex").val(),
                        species: $("#petspecies").val(),
                        additional_information: $("#petai").val(),
                        owner: $("#own-choice").val() !== 'Dodaj' ? parseInt($("#own-choice").val()) : 0,
                        newOwner: $("#own-choice").val() === 'Dodaj' ? {
                            first_name: $("#fname").val(),
                            last_name: $("#lname").val(),
                            email: $("#email").val(),
                            phone_number: $("#phone").val()
                        } : undefined
                    } : undefined,
                    cures: []

                }
                const rowCount = table.rows().count();
                for (let i = 0; i < rowCount; ++i) {
                    const data = table.rows(i).data().toArray();
                    console.log(data[0])
                    prescription.cures.push({
                        cure: parseInt(data[0][3]),
                        quantity: parseInt(data[0][1]),
                        quantity_type: data[0][2]
                    })
                }
                $.post('/addprescriptions/', JSON.stringify(prescription), (data, status, jqxhr) => {
                    console.log(data)

                    $("#formpresc").hide(200)
                    if (data.status === "ok") {
                        $("#msg").html('<p class="success">Recepta dodana pomyślnie!</p>');
                    } else {
                        $("#msg").html('<p class="error">Recepta nie została dodana!</p>');
                    }
                    $("#msg").show(200)
                })
            })
        });
    </script>
{% endblock content %}