{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}
    <div id="form4">
        <form method="post">
            {% if error %}
                <p class="error"> {{ error }}</p>
            {% endif %}
            {% csrf_token %}
            <header class="name">Vet Pet</header>
            <input type="text" name="name" placeholder="Nazwa zwierzęcia" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Nazwa zwierzęcia'">
            <input type="date" name="date_of_birth" placeholder="Data urodzenia" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Data urodzenia'">
            <select name="sex">
                <option disabled selected>Wybierz płeć zwierzęcia</option>
                <option>Samiec</option>
                <option>Samica</option>
            </select>
            <input type="text" name="species" placeholder="Gatunek" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Gatunek'">
            <input style="margin-bottom: 25px;" type="text" name="additional_information" placeholder="Dodatkowe informacje"
                   onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Dodatkowe informacje' ">

            <a id="btn-own-choice" class="btn bstyle green"> Wybierz Właściciela </a>
            <div id="ch-own-choice" style="display: none;">
                <select name="own" id="own-choice">
                    {% for own in owners %}
                        <option value="{{ own.user.email }}">
                            {{ own.user.first_name }} {{ own.user.last_name }} {{ own.user.email }}
                        </option>
                    {% endfor %}
                    <option>Dodaj</option>
                </select>
                <div id="own-add" style="display: none;">
                    <input type="text" name="first_name" placeholder="Imię"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Imię'">
                    <input type="text" name="last_name" placeholder="Nazwisko"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Nazwisko'">
                    <input type="email" name="email" placeholder="Adres email"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Adres email'">
                    <input type="tel" name="phone_number" placeholder="Numer telefonu"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Numer telefonu'">
                </div>
                <script>
                    $(document).ready(() => {
                        $('#own-choice').change(
                            () => {
                                if ($('#own-choice').val() === 'Dodaj')
                                    $('#own-add').show(500)
                                else
                                    $('#own-add').hide(500)
                            }
                        )
                    })
                </script>
            </div>
            <input style="margin-left: 115px;" type="submit" class="green" value="zapisz dane">

            <a href="{% url 'pets' %}">
                <input style="margin-left: 115px;" type="button" value="Wróć">
            </a>
        </form>
    </div>

    <script>
        let show = {pet: false, own: false, vet: false};

        $("#btn-own-choice").click(() => {
            if (show.own === false){
                $("#ch-own-choice").show(500)
                show.own=true
                }
            else{
                $("#ch-own-choice").hide(500)
                show.own=false
                }

        });

        $(document).ready(() => {
            $('#own-choice').select2();
        });

    </script>
{% endblock content %}