{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock headAdditional %}
{% block content %}

    <div id="form2">
        {% if error %}
            <p class="error"> {{ error }}</p>
        {% else %}
            <header class="name header" >Historia leczenia - dodaj leczenie</header>
            <label> Zwierzę
                <input style="margin-left: 102px;" class="disabled input_width" type="text" value="{{ pet.name }}" disabled>
            </label>
            <label style="margin-bottom: 30px;"> Właściciel
                <input style="margin-left: 83px;" class="disabled input_width" type="text"
                       value="{{ pet.owner.first_name }} {{ pet.owner.last_name }}" disabled>
            </label>
            <form method="post">
                <label style="float: left; margin-top: 10px" > Data i czas leczenia</label>
                    <input style="float: left; margin-top: 0; margin-left: 10px"  type="datetime-local" class="input_width" name="date_time_treatment" placeholder="Data i czas leczenia"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Data i czas leczenia'">
                <div style="clear: both"></div>
                <label  style="float: left; margin-top: 30px;"> Opis</label>
                    <textarea style="float: left; margin-top: 20px; margin-left: 126px; resize: none;" class="input_width" rows="5" name="description"
                              placeholder="Opis" onfocus="this.placeholder=' ' "
                              onblur="this.placeholder='Opis'" required></textarea>

                <input type="submit" style="margin-left: 215px;" class="green" value="zapisz dane">
            </form>


        {% endif %}
        <input style="margin-left: 215px;" type="button" onclick="history.back()" value="Wróć">
    </div>

    <script>
        const table = $('#table').DataTable({
            language: {url: "{% static 'json/polish.json'%}"}
        });
    </script>
{% endblock content %}