{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock headAdditional %}
{% block content %}

    <div id="form">
        {% if error %}
            <p class="error"> {{ error }}</p>
        {% else %}
            <label> Zwierzę
                <input style="margin-left: 90px;" type="text" value="{{ pet.name }}" disabled>
            </label>
            <label> Właściciel
                <input style="margin-left: 90px;" type="text"
                       value="{{ pet.owner.first_name }} {{ pet.owner.last_name }}" disabled>
            </label>
            <form method="post">
                {% csrf_token %}
                <label> Data i czas leczenia
                    <input type="datetime-local" name="date_time_treatment" placeholder="Data i czas leczenia"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Data i czas leczenia'">
                </label>
                <label> Opis
                    <textarea style="margin-left: 220px; resize: none;" rows="10" name="description"
                              placeholder="Opis" onfocus="this.placeholder=' ' "
                              onblur="this.placeholder='Opis'" required></textarea>
                </label>
                <input type="submit" class="green" value="zapisz dane">
            </form>


        {% endif %}
        <input style="margin-left: 255px;" type="button" onclick="history.back()" value="Wróć">
    </div>

    <script>
        const table = $('#table').DataTable({
            language: {url: "{% static 'json/polish.json'%}"}
        });
    </script>
{% endblock content %}