{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}
    <div id="form2">
        <form method="post">
            {% if error %}
                <p class="error"> {{ error }}</p>
            {% endif %}
            {% csrf_token %}
            <header class="name">Vet Pet</header>
            <label> Data wizyty
                <input style="margin-left: 108px;" type="date" name="visit_date" placeholder="Data wizyty"
                       onfocus="this.placeholder=' ' "
                       onblur="this.placeholder='Data wizyty'">
            </label>
            <label> Czas wizyty
                <input style="margin-left: 108px;" type="time" name="visit_time" placeholder="Czas wizyty"
                       onfocus="this.placeholder=' ' "
                       onblur="this.placeholder='Czas wizyty'">
            </label>
            <label style="margin-top: 25px; ">Zwierzę
                <a id="btn-pet-choice" class="btn bstyle green"> Wybierz zwierzę</a>
                <div id="ch-pet-choice" style="display: none;">
                    <select name="pet" id="pet-choice">
                        {% for pet in pets %}
                            <option value="{{ pet.id }}">
                                {{ pet.name }} {{ pet.date_of_birth|date:'d-m-Y' }}
                                {{ pet.owner.first_name }} {{ pet.owner.last_name }}
                            </option>
                        {% endfor %}
                        <option>Dodaj</option>
                    </select>
                </div>
                <div id="pet-add" style="display: none;">
                    <input type="text" name="name" placeholder="Nazwa zwierzęcia" onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Nazwa zwierzęcia'">
                    <input type="date" name="date_of_birth" placeholder="Data urodzenia" onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Data urodzenia'">
                    <select name="sex">
                        <option disabled selected>Wybierz płeć zwierzęcia</option>
                        <option>Samiec</option>
                        <option>Samica</option>
                    </select>
                    <input type="text" name="species" placeholder="Gatunek" onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Gatunek'">
                    <input type="text" style="margin-bottom: 20px;" name="additional_information"
                           placeholder="Dodatkowe informacje"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Dodatkowe informacje' ">

                    <label> Właściciel
                        <a id="btn-own-choice" class="btn bstyle green"> Wybierz
                            Właściciela
                        </a>
                        <div id="ch-own-choice" style="display: none;">
                            <select name="own" id="own-choice">
                                {% for own in owners %}
                                    <option value="{{ own.user.email }}">
                                        {{ own.user.first_name }} {{ own.user.last_name }} {{ own.user.email }}
                                    </option>
                                {% endfor %}
                                <option>Dodaj</option>
                            </select>
                            <div id="own-add" style="display: none">
                                <input type="text" name="first_name" placeholder="Imię"
                                       onfocus="this.placeholder=' ' "
                                       onblur="this.placeholder='Imię'">
                                <input type="text" name="last_name" placeholder="Nazwisko"
                                       onfocus="this.placeholder=' ' "
                                       onblur="this.placeholder='Nazwisko'">
                                <input type="email" name="email" placeholder="Email"
                                       onfocus="this.placeholder=' ' "
                                       onblur="this.placeholder='Email'">
                                <input type="tel" name="phone_number" placeholder="Numer telefonu"
                                       onfocus="this.placeholder=' ' "
                                       onblur="this.placeholder='Numer telefonu'">
                            </div>
                            <script>
                                $(document).ready(() => {
                                    $('#own-choice').change(
                                        () => {
                                            if ($('#own-choice').val() === 'Dodaj')
                                                $('#own-add').show(500)
                                            else
                                                $('#own-add').hide(500)
                                        }
                                    )
                                })
                            </script>
                        </div>
                    </label>
                </div>
            </label>
            <script>
                $(document).ready(() => {
                    $('#pet-choice').change(
                        () => {
                            if ($('#pet-choice').val() === 'Dodaj')
                                $('#pet-add').show(500)
                            else
                                $('#pet-add').hide(500)
                        }
                    )
                })
            </script>
            <label style="margin-top: 25px;"> Weterynarz
                <a id="btn-vet-choice" class="btn bstyle green"> Wybierz weterynarza</a>
                <div id="ch-vet-choice" style="display: none;">
                    <select name="vet" id="vet-choice">
                        {% for vet in vets %}
                            <option value="{{ vet.user.email }}">
                                {{ vet.user.first_name }} {{ vet.user.last_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </label>
            <label> Dodatkowe informacje
                <input type="text" name="note" placeholder="note"
                       onfocus="this.placeholder=' ' "
                       onblur="this.placeholder='Dodatkowe info o wizycie'">
            </label>

            <input type="submit" class="green" value="zapisz dane">

            <a href="{% url 'allvisits' %}">
                <input type="button" value="Wróć">
            </a>
        </form>
    </div>
    <script>
        let show = {pet: false, own: false, vet: false};
        $("#btn-pet-choice").click(() => {
            if (show.pet === false) {
                $("#ch-pet-choice").show(500)
                show.pet = true
            } else {
                $("#ch-pet-choice").hide(500)
                show.pet = false
            }

        });

        $("#btn-own-choice").click(() => {
            if (show.own === false) {
                $("#ch-own-choice").show(500)
                show.own = true
            } else {
                $("#ch-own-choice").hide(500)
                show.own = false
            }
        });
        $("#btn-vet-choice").click(() => {
            if (show.vet === false) {
                $("#ch-vet-choice").show(500)
                show.vet = true
            } else {
                $("#ch-vet-choice").hide(500)
                show.vet = false
            }
        });
        $(document).ready(() => {
            $('#pet-choice').select2();
        });
        $(document).ready(() => {
            $('#own-choice').select2();
        });
        $(document).ready(() => {
            $('#vet-choice').select2();
        });
    </script>
{% endblock content %}
