{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Logowanie</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">


</head>
<body>
{% include 'klinika/navbar.html' %}

<div id="logowanie">
    <form>
        <header class="nazwa">Vet Pet</header>
        <label>
            <input type="text" placeholder="Nazwa Użytkownika" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='login' ">


            <input type="password" placeholder="hasło" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='hasło' ">


            <input type="submit" value="Zaloguj się">

            <output>Jeśli nie masz konta zarejestruj się</output>


            <a href="{% url 'rejestracja' %}">
                <input type="button" id="submit2" value="zarejestruj się">
            </a>

        </label>


    </form>
</div>

</body>
</html>