{% extends 'klinika/main.html' %}
{% load static %}
{% block content %}
    <div id="form2">
        {% if error %}
            <p class="error"> {{ error }}</p>
        {% endif %}
        <header class="name">Vet Pet</header>
        <label> Imię Zwierzęcia
            <input style="margin-left: 90px;" type="text" value="{{ pet.name }}" disabled>
            <button id="btn-pet-name" class="btn bstyle green"> Zmień</button>
            <div id="ch-pet-name" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="name">
                    {% csrf_token %}
                    <input style="margin-left: 220px;" type="text" name="name" placeholder="Nazwa zwierzęcia"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Nazwa zwierzęcia'" required>
                    <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                </form>
            </div>
        </label>
        <label> Data urodzenia
            <input style="margin-left: 95px;" value="{{ pet.date_of_birth|date:'d-m-Y' }}" disabled>
        </label>
        <label> Płeć
            <input style="margin-left: 180px;" type="text" name="sex" value="{{ pet.sex }}" disabled>
        </label>
        <label> Gatunek
            <input style="margin-left: 145px;" type="text" name="species" value="{{ pet.species }}" disabled>
        </label>
        <label> Właściciel
            <input style="margin-left: 130px;" type="text" name="owner"
                   value="{{ pet.owner.first_name }}  {{ pet.owner.last_name }}" disabled>
        </label>
        <label> Dodatkowe informacje
            <textarea style="margin-left: 30px; resize: none; margin-top: 20px;"
                      disabled>{{ pet.additional_information }}</textarea>
            <button id="btn-pet-adi" class="btn bstyle green" style="margin-top: 10px;"> Zmień</button>
            <div id="ch-pet-adi" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="additional_information">
                    {% csrf_token %}
                    <textarea style="margin-left: 220px; resize: vertical" name="additional_information"
                              placeholder="Dodatkowe informacje" onfocus="this.placeholder=' ' "
                              onblur="this.placeholder='Dodatkowe informacje'" required></textarea>
                    <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                </form>
            </div>
        </label>
        <a href="{% url 'mypets' %}">
            <input style="margin-left: 255px;" type="button" value="Wróć">
        </a>
    </div>
    <script type="text/javascript">
        let show = {name: false, DoB: false, ainfo: false, owner: false};
        $("#btn-pet-name").click(function () {
            if (show.name === false)
                $("#ch-pet-name").show(500)
            else
                $("#ch-pet-name").hide(500)
        });
        $("#btn-pet-adi").click(function () {
            if (show.ainfo === false)
                $("#ch-pet-adi").show(500)
            else
                $("#ch-pet-adi").hide(500)
        });
    </script>
{% endblock content %}
