{% extends 'klinika/main.html' %}
{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>signin</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.min.css' %}">

</head>
<body>

{% block content %}
    <table>
        <tr>
            <th>Nazwa</th>
            <th>data urodzenia</th>
            <th>płeć</th>
            <th>Gatunek</th>
            <th>Szczegółowe informacje</th>

        </tr>
        {% for pet in pet_list %}
            <tr>
                <td>{{ pet.name }}</td>
                <td>{{ pet.date_of_birth|date:'d-m-Y' }}</td>
                <td>{{ pet.sex }}</td>
                <td>{{ pet.species.species_name }}</td>
                <td>
{#                  <a href="{% url 'mypet'%}">#}
                    <a href="/mypet/{{pet.id}}">
                        <button type="button" class="info">
                            Podgląd
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'addpet' %}">
        <button type="button" class="button">
            Dodaj zwierze
        </button>
    </a>

{% endblock content %}
</body>
</html>