<nav>
    <ol>
        <li>
            <a id="home" href="{% url 'VetPet' %}">Vet Pet</a>
        </li>
        {% if username or vet or adm or rec or own %}
            <li><a href="#"> {{ username }} </a>
                <ul>
                    <li>
                        <a href="{% url 'profile' %}"> Profil</a>
                    </li>
                    <li>
                        <a href="{% url 'mypets' %}"> Moje zwierzeta</a>
                    </li>
                    <li>
                        <a href="/signout"> Wyloguj się</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if adm %}
            <li><a href="#"> Zarządzanie </a>
                <ul>
                    <li>
                        <a href="#"> Użytkownicy</a>
                    </li>
                    <li>
                        <a href="#"> Zwierzęta</a>
                    </li>
                    <li>
                        <a href="#"> Wizyty</a>
                    </li>
                    <li>
                        <a href="#"> Recepty</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if  vet or adm or rec or own or username %}
            <li><a href="#"> Wizyty </a>
            <ul>
            {% if  vet and own or adm or rec and own or own or username %}
                <li>
                    <a href="{% url 'myvisits' %}"> Moje wizyty</a>
                </li>

            {% endif %}
        {% endif %}
        {% if rec or vet %}
            <li><a href="{% url 'allvisits' %}">Wszystkie wizyty</a></li>
            <li><a href="{% url 'upcomvisits' %}">Nadchodzące wizyty</a></li>
            <li><a href="{% url 'visits' %}">Odbyte wizyty</a></li>
            <li><a href="{% url 'canceledvisits' %}">Anulowane wizyty</a></li>
        {% endif %}
        </ul>
        </li>
        {% if vet %}
            <li><a href="{% url 'pets' %}"> Zwierzęta </a>
            </li>
            {% endif %}
            {% if own %}
                <li><a href="#"> Recepty </a>
                <ul>
                <li>
                    <a href="{% url 'myprescriptions' %}">Moje recepty</a>
                </li>
            {% endif %}
    {% if vet %}
        <li>
            <a href="{% url 'allprescriptions' %}">Wszystkie recepty</a>
        </li>
        <li>
            <a href="{% url 'prescriptions' %}">Wystawione recepty</a>
        </li>
        <li>
            <a href="{% url 'completedprescriptions' %}">Zrealizowane recepty</a>
        </li>
        <li>
            <a href="{% url 'expiredprescriptions' %}">Wygasłe recepty</a>
        </li>
     {% endif %}
        </ul>
        </li>



        {% if not username %}
            <li><a href="#"> Rejestracja </a>
                <ul>
                    <li>
                        <a href="{% url 'signup' %}"> Zarejestruj sie</a>
                    </li>
                    <li>
                        <a href="{% url 'signin' %}"> Zaloguj się</a>
                    </li>
                </ul>
            </li>
        {% endif %}

        <li>
            <a href="{% url 'about' %}">O nas</a>
        </li>
    </ol>
</nav>