{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock headAdditional %}
{% block content %}

    <div id="form">
        {% if error %}
            <p class="error"> {{ error }}</p>
        {% else %}
            {% include "klinika/sub-navbar.html" %}
            <div id="ch-pet" style="display: none;">
                <label> Imię
                    <input style="margin-left: 90px;" type="text" value="{{ pet.name }}" disabled>

                    {% if userpets or admin %}
                        <a id="btn-pet-name" class="btn bstyle green"> Zmień</a>
                        <div id="ch-pet-name" style="display: none;">
                            <form method="post">
                                <input type="hidden" name="type" value="name">
                                {% csrf_token %}
                                <input style="margin-left: 220px;" type="text" name="name"
                                       placeholder="Nazwa zwierzęcia"
                                       onfocus="this.placeholder=' ' "
                                       onblur="this.placeholder='Nazwa zwierzęcia'" required>
                                <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                            </form>
                        </div>
                    {% endif %}
                </label>
                <label> Data urodzenia
                    <input style="margin-left: 95px;" value="{{ pet.date_of_birth|date:'d-m-Y' }}" disabled>
                    {% if admin %}
                        <a id="btn-pet-DoB" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
                        <div id="ch-pet-DoB" style="display: none;">
                            <form method="post">
                                <input type="hidden" name="type" value="date_of_birth">
                                {% csrf_token %}
                                <input style="margin-left: 220px;"
                                       name="date_of_birth" type="date"
                                       placeholder="Data urodzenia" onfocus="this.placeholder=' ' "
                                       onblur="this.placeholder='Data urodzenia'" required>
                                <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                            </form>
                        </div>
                    {% endif %}
                </label>
                <label> Płeć
                    <input style="margin-left: 180px;" type="text" name="sex" value="{{ pet.sex }}" disabled>
                    {% if admin %}
                        <a id="btn-pet-sex" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
                        <div id="ch-pet-sex" style="display: none;">
                            <form method="post">
                                <input type="hidden" name="type" value="sex">
                                {% csrf_token %}
                                <select name="sex">
                                    <option disabled selected>Wybierz płeć zwierzęcia</option>
                                    <option>Samiec</option>
                                    <option>Samica</option>
                                </select>
                                <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                            </form>
                        </div>
                    {% endif %}
                </label>
                <label> Gatunek
                    <input style="margin-left: 145px;" type="text" name="species" value="{{ pet.species.species_name }}"
                           disabled>
                    {% if admin %}
                        <a id="btn-pet-spec" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
                        <div id="ch-pet-spec" style="display: none;">
                            <form method="post">
                                <input type="hidden" name="type" value="species">
                                {% csrf_token %}
                                <input style="margin-left: 220px;"
                                       name="species" type="text"
                                       placeholder="Gatunek" onfocus="this.placeholder=' ' "
                                       onblur="this.placeholder='Gatunek'" required>
                                <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                            </form>
                        </div>
                    {% endif %}
                </label>
                <label> Dodatkowe informacje
                    <textarea style="margin-left: 30px; resize: none; margin-top: 20px;"
                              disabled>{{ pet.additional_information }}</textarea>
                    <a id="btn-pet-adi" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
                    <div id="ch-pet-adi" style="display: none;">
                        <form method="post">
                            <input type="hidden" name="type" value="additional_information">
                            {% csrf_token %}
                            <textarea style="margin-left: 220px; resize: none;" rows="5" name="additional_information"
                                      placeholder="Dodatkowe informacje" onfocus="this.placeholder=' ' "
                                      onblur="this.placeholder='Dodatkowe informacje'" required></textarea>
                            <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                        </form>
                    </div>
                </label>
            </div>
            <div id="ch-own" style="display: none;">
                <label> Imię
                    <input style="margin-left: 90px;" type="text" value="{{ pet.owner.first_name }}" disabled>
                </label>
                <label> Nazwisko
                    <input style="margin-left: 90px;" type="text" value="{{ pet.owner.last_name }}" disabled>
                </label>
                <label> Adres email
                    <input style="margin-left: 90px;" type="text" value="{{ pet.owner.email }}" disabled>
                </label>
                <label> Numer telefonu
                    <input style="margin-left: 90px;" type="text" value="{{ pet.owner.phone_number }}" disabled>
                </label>
                {% if admin %}
                    <a id="btn-own-choice" style="margin: 10px 0 0 246px;">
                        <input type="button" class="green" value="Zmień Właśicicela"> </a>
                    <div id="ch-own-choice" style="display: none;">
                        <form method="post">
                            <input type="hidden" name="type" value="owner">
                            <label> Właściciel
                                <select name="own" id="own-choice">
                                    <option selected disabled>Wybierz właściciela</option>
                                    {% for own in owners %}
                                        <option value="{{ own.user.email }}">
                                            {{ own.user.first_name }} {{ own.user.last_name }} {{ own.user.email }}
                                        </option>
                                    {% endfor %}
                                    <option>Dodaj</option>
                                </select>
                                <div id="own-add" style="display: none">
                                    <input type="text" name="first_name" placeholder="Imię"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Imię'">
                                    <input type="text" name="last_name" placeholder="Nazwisko"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Nazwisko'">
                                    <input type="email" name="email" placeholder="Email"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Email'">
                                    <input type="tel" name="phone_number" placeholder="Numer telefonu"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Numer telefonu'">
                                </div>
                                <script>
                                    $(document).ready(() => {
                                        $('#own-choice').change(
                                            () => {
                                                if ($('#own-choice').val() === 'Dodaj')
                                                    $('#own-add').show(500)
                                                else
                                                    $('#own-add').hide(500)
                                            }
                                        )
                                    })
                                </script>
                                <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                            </label>
                        </form>
                    </div>

                {% endif %}
            </div>

            <div id="ch-visit" style="display: none;">
                {% if not nothing %}
                    <label> Data wizyty
                        <input style="margin-left: 90px;" type="text" value="{{ visit.visit_date|date:'d-m-Y' }}"
                               disabled>
                        {% if admin %}
                            <a id="btn-visit-date" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
                            <div id="ch-visit-date" style="display: none;">
                                <form method="post">
                                    <input type="hidden" name="type" value="visit_date">
                                    {% csrf_token %}
                                    <input style="margin-left: 108px;" type="date" name="visit_date"
                                           placeholder="Data wizyty"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Data wizyty'">

                                    <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                                </form>
                            </div>
                        {% endif %}
                    </label>
                    <label> Czas wizyty
                        <input style="margin-left: 90px;" type="text" value="{{ visit.visit_time|date:'H:i' }}"
                               disabled>
                        {% if admin %}
                            <a id="btn-visit-time" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
                            <div id="ch-visit-time" style="display: none;">
                                <form method="post">
                                    <input type="hidden" name="type" value="visit_time">
                                    {% csrf_token %}

                                    <input style="margin-left: 108px;" type="time" name="visit_time"
                                           placeholder="Czas wizyty"
                                           onfocus="this.placeholder=' ' "
                                           onblur="this.placeholder='Czas wizyty'">
                                    <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                                </form>
                            </div>
                        {% endif %}
                    </label>
                    <label> Weterynarz
                        <input style="margin-left: 90px;" type="text"
                               value="{{ visit.vet.first_name }} {{ visit.vet.last_name }}" disabled>
                    </label>
                {% else %}
                    <p class="error"> {{ visit }}</p>
                {% endif %}
            </div>
            <div id="ch-med" style="display: none;">
                Test4
            </div>
            <div id="ch-prescription" style="display: none;">
                {% if not nothing2 %}
                    <label> Kod recepty
                        <input style="margin-left: 90px;" type="text" value="{{ presc.code }}"
                               disabled>
                    </label>
                    <label> Termin ważności
                        <input style="margin-left: 90px;" type="text" value="{{ presc.expiration_date|date:'d-m-Y' }}"
                               disabled>
                    </label>

                    <table id="cure-table">
                        <thead>
                        <tr>
                            <th>Nazwa leku</th>
                            <th>Ilość</th>
                            <th>jm.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pcure in cures %}
                            <tr>
                                <td>{{ pcure.cure.name }}</td>
                                <td>{{ pcure.quantity }}</td>
                                <td>{{ pcure.quantity_type }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="error"> {{ presc }}</p>
                {% endif %}
            </div>
        {% endif %}
        <input style="margin-left: 255px;" type="button" onclick="history.back()" value="Wróć">
    </div>

    <script>
        let show = {
            pet: false,
            petname: false,
            petainfo: false,
            own: false,
            visit: false,
            med: false,
            prescription: false
        };
        $("#btn-pet").click(() => {
            if (show.pet === false) {
                $("#ch-pet").show(500)
                $("#ch-own").hide(500)
                $("#ch-visit").hide(500)
                $("#ch-med").hide(500)
                $("#ch-prescription").hide(500)
                show.pet = true
            } else {
                $("#ch-pet").hide(500)
                show.pet = false
            }
        });
        $("#btn-pet-name").click(function () {
            if (show.petname === false) {
                $("#ch-pet-name").show(500)
                show.petname = true
            } else {
                $("#ch-pet-name").hide(500)
                show.petname = false
            }
        });
        $("#btn-pet-adi").click(function () {
            if (show.petainfo === false) {
                $("#ch-pet-adi").show(500)
                show.petainfo = true
            } else {
                $("#ch-pet-adi").hide(500)
                show.petainfo = false
            }
        });
        $("#btn-own").click(() => {
            if (show.own === false) {
                $("#ch-pet").hide(500)
                $("#ch-own").show(500)
                $("#ch-visit").hide(500)
                $("#ch-med").hide(500)
                $("#ch-prescription").hide(500)
                show.own = true
            } else {
                $("#ch-own").hide(500)
                show.own = false
            }
        });
        $("#btn-visit").click(() => {
            if (show.visit === false) {
                $("#ch-pet").hide(500)
                $("#ch-own").hide(500)
                $("#ch-visit").show(500)
                $("#ch-med").hide(500)
                $("#ch-prescription").hide(500)
                show.visit = true
            } else {
                $("#ch-visit").hide(500)
                show.visit = false
            }
        });
        $("#btn-med").click(() => {
            if (show.med === false) {
                $("#ch-pet").hide(500)
                $("#ch-own").hide(500)
                $("#ch-visit").hide(500)
                $("#ch-med").show(500)
                $("#ch-prescription").hide(500)
                show.med = true
            } else {
                $("#ch-med").hide(500)
                show.med = false
            }
        });
        $("#btn-prescription").click(() => {
            if (show.prescription === false) {
                $("#ch-pet").hide(500)
                $("#ch-own").hide(500)
                $("#ch-visit").hide(500)
                $("#ch-med").hide(500)
                $("#ch-prescription").show(500)
                show.prescription = true
            } else {
                $("#ch-prescription").hide(500)
                show.prescription = false
            }
        });
        jQuery(document).ready(function () {
            jQuery('form ul li').click(function () {
                jQuery('form ul li').removeClass("active");
                jQuery(this).addClass("active");
            });
        });
        const table = $('#cure-table').DataTable({
            language: {url: "{% static 'json/polish.json'%}"}
        });
    </script>
{% endblock %}