{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock headAdditional %}
{% block content %}
    <div class="black">
     {% if not userpets %}
        <a href="{% url 'addpets' %}" class="btn bstyle "> Dodaj zwierze
        </a>
    {% else %}
         <a href="{% url 'addpet' %}" class="btn bstyle "> Dodaj zwierze
        </a>
    {% endif %}
    </div>
    <div>
        {% if not empty %}
            <table id="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>data urodzenia</th>
                    <th>płeć</th>
                    <th>Gatunek</th>
                    <th>Właściciel zwierzęcia</th>
                    <th>Szczegółowe informacje</th>
                </tr>
                </thead>
                <tbody>
                {% for pet in pet_list %}
                    <tr>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.date_of_birth|date:'d-m-Y' }}</td>
                        <td>{{ pet.sex }}</td>
                        <td>{{ pet.species.species_name }}</td>
                        <td>{{ pet.owner.first_name }} {{ pet.owner.last_name }}</td>
                        <td>
                            {% if not userpets %}
                            <a href="/pet/{{ pet.id }} " class="btn bstyle">Podgląd </a>
                            {% else %}
                             <a href="/mypet/{{ pet.id }} " class="btn bstyle">Podgląd </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div style="clear: both"></div>
        {% else %}
            <p> Brak zwierząt do wyświetlenia! </p>
        {% endif %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                language: {url: "{% static 'json/polish.json'%}"},
                columnDefs: [
                    {searchable: false, targets: 5}
                ]
            });
        });
    </script>
{% endblock content %}


