{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock headAdditional %}
{% block content %}
    <div class="black">
        {% if not admin %}
            {% if not userpets %}
                <a href="{% url 'addpets' %}" class="btn bstyle "> Dodaj zwierze
                </a>
            {% else %}
                <a href="{% url 'addpet' %}" class="btn bstyle "> Dodaj zwierze
                </a>
            {% endif %}
            </div>
            {% if not empty %}
                <table id="table">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>data urodzenia</th>
                        <th>płeć</th>
                        <th>Gatunek</th>
                        <th>Właściciel zwierzęcia</th>
                        <th>Szczegółowe informacje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pet in pet_list %}
                        <tr>
                            <td>{{ pet.name }}</td>
                            <td>{{ pet.date_of_birth|date:'d-m-Y' }}</td>
                            <td>{{ pet.sex }}</td>
                            <td>{{ pet.species.species_name }}</td>
                            <td>{{ pet.owner.first_name }} {{ pet.owner.last_name }}</td>
                            <td>
                                {% if not userpets %}
                                    <a href="/pet/{{ pet.id }} " class="btn bstyle">Podgląd </a>
                                    <a href="/treatments/{{ pet.id }} " class="btn bstyle">Leczenie </a>
                                {% else %}
                                    <a href="/mypet/{{ pet.id }} " class="btn bstyle">Podgląd </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div style="clear: both"></div>
            {% else %}
                <p> Brak zwierząt do wyświetlenia! </p>
            {% endif %}
        {% else %}
            <div id="form">
                <div id="subnav">
                    <ul>
                        <li>
                            <a id="btn-pet"> Zwierzęta</a>
                        </li>
                        <li>
                            <a id="btn-species">Gatunki</a>
                        </li>
                    </ul>
                </div>
                <div id="ch-pet" style="display: none;">
                    <div class="black" style="margin-top: 30px;">
                        <a href="{% url 'addpets' %}" class="btn bstyle "> Dodaj zwierzę</a>
                    </div>
                    <div>
                        {% if not empty %}
                            <table id="table1">
                                <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>data urodzenia</th>
                                    <th>płeć</th>
                                    <th>Gatunek</th>
                                    <th>Właściciel</th>
                                    <th>Szczegółowe informacje</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pet in pet_list %}
                                    <tr>
                                        <td>{{ pet.name }}</td>
                                        <td>{{ pet.date_of_birth|date:'d-m-Y' }}</td>
                                        <td>{{ pet.sex }}</td>
                                        <td>{{ pet.species.species_name }}</td>
                                        <td>{{ pet.owner.first_name }} {{ pet.owner.last_name }}</td>
                                        <td class="black">
                                            <a href="/petmanagement/{{ pet.id }} " class="btn bstyle"
                                               style="display: block; margin: 10px 0;">Podgląd </a>
                                            <a href="/treatmentsmanagement/{{ pet.id }} " class="btn bstyle"
                                               style="display: block; margin: 0;">Leczenie </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div style="clear: both"></div>
                        {% else %}
                            <p> Brak zwierząt do wyświetlenia! </p>
                        {% endif %}
                    </div>
                </div>
                <div id="ch-species" style="display: none;">
                    <div class="black" style="margin-top: 30px;">
                        <a href="{% url 'speciesmanagementadd' %}" class="btn bstyle "> Dodaj Gatunek</a>
                    </div>
                    <div>
                        {% if not empty %}
                            <table id="table2">
                                <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Dodatkowe informacje</th>
                                    <th>Szczegóły</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for s in species %}
                                    <tr>
                                        <td>{{ s.species_name }}</td>
                                        <td>{{ s.additional_information|slice:":50" }}
                                            {% if s.additional_information|length > 50 %}
                                                ...
                                            {% endif %}
                                        </td>
                                        <td class="black">
                                            <a href="/speciesmanagement/{{ s.id }}" class="btn bstyle">Podgląd </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div style="clear: both"></div>
                        {% else %}
                            <p> Brak Gatunków do wyświetlenia! </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

    <script type="text/javascript">
            jQuery(document).ready(function () {
            jQuery('#subnav ul li').click(function () {
                jQuery('#subnav ul li').removeClass("active");
                jQuery(this).addClass("active");
            });
        });
        $(document).ready(function () {
            $('#table').DataTable({
                language: {url: "{% static 'json/polish.json'%}"},
                columnDefs: [
                    {searchable: false, targets: 5}
                ]
            });
            $('#table1').DataTable({
                language: {url: "{% static 'json/polish.json'%}"},
                columnDefs: [
                    {searchable: false, targets: 5}
                ]
            });
            $('#table2').DataTable({
                language: {url: "{% static 'json/polish.json'%}"},
                columnDefs: [
                    {searchable: false, targets: 2}
                ]
            });
        });
        let show = {
            pet: false,
            species: false,
        };
        $("#btn-pet").click(() => {
            if (show.pet === false) {
                $("#ch-pet").show(500)
                $("#ch-species").hide(500)
                show.pet = true
            } else {
                $("#ch-pet").hide(500)
                show.pet = false
            }
        });
        $("#btn-species").click(() => {
            if (show.species === false) {
                $("#ch-pet").hide(500)
                $("#ch-species").show(500)
                show.species = true
            } else {
                $("#ch-species").hide(500)
                show.species = false
            }
        });
    </script>
{% endblock content %}


