{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock headAdditional %}
{% block content %}

    <div id="form">
        {% if error %}
            <p class="error"> {{ error }}</p>
        {% else %}

            <label> Kod recepty
                <input style="margin-left: 90px;" type="text" value="{{ presc.code}}"
                       disabled>
            </label>
            <label> Termin ważności
                <input style="margin-left: 90px;" type="text" value="{{ presc.expiration_date|date:'d-m-Y' }}"
                       disabled>
            </label>
            <label> Status
                <input style="margin-left: 90px;" type="text" value="{{ presc.status }}"
                       disabled>
            {% if admin %}
                <a id="btn-presc-status" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
                        <div id="ch-presc-status" style="display: none;">
                            <form method="post">
                                <input type="hidden" name="type" value="status">
                                <select name="status">
                                    <option disabled selected>Wybierz status recepty</option>
                                    <option>Wystawiona</option>
                                    <option>Zrealizowana</option>
                                    <option>Wygasla</option>
                                    <option>Anulowana</option>
                                </select>
                                <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                            </form>
                        </div>
                {% endif %}
            </label>

            <label> Zwierzę
                <input style="margin-left: 90px;" type="text" value="{{ presc.pet.name}}"
                       disabled>
            </label>

            <label> Właściciel
                <input style="margin-left: 90px;" type="text" value="{{ presc.owner.first_name }} {{ presc.owner.last_name }}"
                       disabled>
            </label>

            <label> Weterynarz
                <input style="margin-left: 90px;" type="text" value="{{ presc.vet.first_name}} {{ presc.vet.last_name}}"
                       disabled>
            </label>
            <table id="cure-table">
                <thead>
                <tr>
                    <th>Nazwa leku</th>
                    <th>Ilość</th>
                    <th>jm.</th>
                </tr>
                </thead>
                <tbody>
                {% for pcure in cures %}
                    <tr>
                        <td>{{ pcure.cure.name }}</td>
                        <td>{{ pcure.quantity }}</td>
                        <td>{{ pcure.quantity_type }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
        <input style="margin-left: 255px;" type="button" onclick="history.back()" value="Wróć">
    <script>
        const table = $('#cure-table').DataTable({
            language: {url: "{% static 'json/polish.json'%}"}
        });
        let show = { status: false}
        $("#btn-presc-status").click(function () {
            if (show.status === false) {
                $("#ch-presc-status").show(500)
                show.status = true
            } else {
                $("#ch-presc-status").hide(500)
                show.status = false
            }
        });
    </script>
{% endblock content %}