{% extends 'klinika/main.html' %}
{% load static %}
{% block content %}
    <div id="form2">
        {% if error %}
            <p class="error"> {{ error }}</p>
        {% endif %}
{#    todo: marginy !!!#}
        <header class="name">Vet Pet</header>
        <label> Nazwa użytkownika
            <input style="margin-left: 94px;" type="text" value="{{ usr.username }}">
        </label>

        <label> Imię
            <input style="margin-left: 154px;" type="text" value="{{ usr.first_name }}">
            <button id="btn-fname" class="btn bstyle"> Zmień</button>
            <div id="ch-fname" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="first_name">
                    {% csrf_token %}
                    <input style="margin-left: 190px;" type="text" name="first_name" placeholder="Imię " onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Imię '" required>
                    <input style="margin-left: 190px;" type="submit" value="Zmień">
                </form>
            </div>
        </label>

        <label> Nazwisko
            <input style="margin-left: 94px;" type="text" value="{{ usr.last_name }}">
            <button id="btn-lname" class="btn bstyle"> Zmień</button>
            <div id="ch-lname" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="last_name">
                    {% csrf_token %}
                    <input style="margin-left: 190px;" type="text" name="last_name" placeholder="Nazwisko " onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Nazwisko '" required>
                    <input style="margin-left: 190px;" type="submit" value="Zmień">
                </form>
            </div>
        </label>

        <label> Hasło
            <input style="margin-left: 114px;" type="password" value="haslo">
            <button id="btn-pass" class="btn bstyle"> Zmień</button>
            <div id="ch-pass" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="password">
                    {% csrf_token %}
                    <input style="margin-left: 190px;" type="password" name="pass" placeholder="Stare Hasło " onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Stare Hasło  '" required>
                    <input style="margin-left: 190px;" type="password" name="pass1" placeholder="Nowe Hasło " onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Nowe Hasło '" required>
                    <input style="margin-left: 190px;" type="password" name="pass2" placeholder="Powtórz Hasło " onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Powtórz Hasło '" required>
                    <input style="margin-left: 190px;" type="submit" value="Zmień">
                </form>
            </div>
        </label>

        <label> Numer telefonu
            <input style="margin-left: 54px;" type="text" value="{{ usr.phone_number }}">
            <button id="btn-phone" class="btn bstyle"> Zmień</button>
            <div id="ch-phone" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="phone_number">
                    {% csrf_token %}
                    <input style="margin-left: 190px;" type="tel" name="phone_number" placeholder="Numer telefonu " onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Numer telefonu '" required>
                    <input style="margin-left: 190px;" type="submit" value="Zmień">
                </form>
            </div>
        </label>

        <label> Adres email
            <input style="margin-left: 94px;"  type="text" value="{{ usr.email }}">
            <button id="btn-email" class="btn bstyle"> Zmień</button>
            <div id="ch-email" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="email">
                    {% csrf_token %}
                    <input style="margin-left: 190px;" type="text" name="email" placeholder="Email adres" onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Email adres'" required>
                    <input style="margin-left: 190px;" type="submit" value="Zmień">
                </form>
            </div>
        </label>

        <label> Adress zamieszkania
            <input type="text" value="{{ adr }}">
            <button id="btn-adress" class="btn bstyle"> Dodaj</button>
            <div id="ch-adress" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="address">
                    {% csrf_token %}
                    <input style="margin-left: 190px; " type="text" name="address" placeholder="Adress zamieszkania " onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Adress zamieszkania '" required>
                    <input style="margin-left: 190px;" type="submit" value="Zmień na aktualny">
                </form>
            </div>
        </label>

        <a href="{% url 'VetPet' %}">
            <input style="margin-left: 194px;" type="button" value="Wróć">
        </a>
    </div>
    <script type="text/javascript">
        let show = {fname: false, lname: false, pass: false, phone: false, email: false, adress: false};
        $("#btn-fname").click(function () {
            if (show.fname === false)
                $("#ch-fname").show(500)
            else
                $("#ch-fname").hide(500)
        });
        $("#btn-lname").click(function () {
            if (show.lname === false)
                $("#ch-lname").show(500)
            else
                $("#ch-lname").hide(500)
        });
        $("#btn-pass").click(function () {
            if (show.pass === false)
                $("#ch-pass").show(500)
            else
                $("#ch-pass").hide(500)
        });
        $("#btn-phone").click(function () {
            if (show.phone === false)
                $("#ch-phone").show(500)
            else
                $("#ch-phone").hide(500)
        });
        $("#btn-email").click(function () {
            if (show.email === false)
                $("#ch-email").show(500)
            else
                $("#ch-email").hide(500)
        });
        $("#btn-adress").click(function () {
            if (show.adress === false)
                $("#ch-adress").show(500)
            else
                $("#ch-adress").hide(500)
        });
    </script>
{% endblock content %}