{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rejestracja</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">


</head>
<body>
{% include 'klinika/navbar.html' %}

<div id="rejestracja">
    <form>
        <header class="nazwa">Vet Pet</header>
        <label>
            <input type="text" placeholder="Nazwa Użytkownika" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='login' ">

            <input type="text" placeholder="Adres email" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='email' ">


            <input type="password" placeholder="hasło" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='hasło' ">

            <input type="password" placeholder="powtórz hasło" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='powtórz hasło' ">

            <input type="submit" id="submit2" value="Zarejestruj się">
        </label>


    </form>
</div>
</body>
</html>