{% extends 'klinika/main.html' %}
{% load static %}
{% block content %}
    <div id="signin">
        <form method="POST">
            {% csrf_token %}
            <header class="name">Vet Pet</header>
                <input type="text" name="username" placeholder="Nazwa Użytkownika" onfocus="this.placeholder=' ' "
                       onblur="this.placeholder='Nazwa Użytkownika' " required>
                <input type="password" name="password" placeholder="hasło" onfocus="this.placeholder=' ' "
                       onblur="this.placeholder='hasło' " required>
                {% if error %}
                    <p class="error"> {{ error }}</p>
                {% endif %}
                <input type="submit" value="Zaloguj się">
        </form>
     <label>Jeśli nie masz konta zarejestruj się</label>
        <a href="{% url 'signup' %}">
            <input type="button" class="green" value="zarejestruj się">
        </a>
    </div>
{% endblock content %}
