{% extends 'klinika/main.html' %}
{% load static %}
{% block content %}
    <div id="form2">
        {% if error %}
            <p class="error"> {{ error }}</p>
        {% else %}
            <header class="name header">Dodawanie gatunku</header>
            <form method="post">
                {% if error1 %}
                    <p class="error">{{ error1 }}</p>
                {% endif %}
                <label> Nazwa gatunku
                    <input style="margin-left: 76px;" class="input_width" type="text" name="species_name"
                           placeholder="Nazwa gatunku"
                           onfocus="this.placeholder=' ' "
                           onblur="this.placeholder='Nazwa gatunku'" required>
                </label>

                <label style="margin-top: 30px;"> Dodatkowe informacje</label>
                    <textarea style="margin-left: 220px; margin-top: -30px;  resize: none;" rows="5" class="input_width" name="additional_information"
                              placeholder="Dodatkowe informacje" onfocus="this.placeholder=' ' "
                              onblur="this.placeholder='Dodatkowe informacje'"></textarea>

                <input type="submit" style="margin-left: 256px; margin-top: 20px;" class="green" value="zapisz dane">
            </form>
        {% endif %}
        <input  type="button" style="margin-left: 256px;" onclick="history.back()" value="Wróć">
    </div>
{% endblock content %}