{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klinika weterynaryjna</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<ul>
  <li><a class="active" href="http://127.0.0.1:8000/stronaGlowna">Dom</a></li>
  <li><a href="http://127.0.0.1:8000/logowanie">logowanie</a></li>
  <li><a href="http://127.0.0.1:8000/informacje">O</a></li>
</ul>
</body>
</html>