{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock headAdditional %}
{% block content %}
    <div id="form2">
        <label> Zwierzę
            <input style="margin-left: 90px;" type="text" value="{{ treat.pet.name }}" disabled>
        </label>
        <label> Właściciel
            <input style="margin-left: 90px;" type="text"
                   value="{{ treat.pet.owner.first_name }} {{ treat.pet.owner.last_name }}" disabled>
        </label>
        <label> Data i czas leczenia
            <input style="margin-left: 30px;" type="text" value="{{ treat.date_time_treatment|date:'d-m-Y H:i' }}"
                   disabled>
            {% if admin %}
                <a id="btn-treat-datetime" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
                <div id="ch-treat-datetime" style="display: none;">
                    <form method="post">
                        <input type="hidden" name="type" value="date_time_treatment">
                        {% csrf_token %}
                        <input type="datetime-local" name="date_time_treatment" placeholder="Data i czas leczenia"
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Data i czas leczenia'">
                        <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
                    </form>
                </div>
            {% endif %}
        </label>
        <label style="float: left; margin-top: 20px;"> Opis
        </label>
        <textarea style="margin-left: 90px; resize: none;" rows="5" disabled>
                       {{ treat.description }}</textarea>
        <a id="btn-treat-desc" class="btn bstyle green" style="margin-top: 10px;"> Zmień</a>
        <div id="ch-treat-desc" style="display: none;">
            <form method="post">
                <input type="hidden" name="type" value="description">
                {% csrf_token %}
                <textarea style="margin-left: 220px; resize: none;" rows="5" name="description"
                          placeholder="Opis" onfocus="this.placeholder=' ' "
                          onblur="this.placeholder='Opis '"></textarea>
                <input class="green" style="margin-left: 250px;" type="submit" value="Zmień">
            </form>
        </div>
        <div style="clear: both;"></div>
        <input style="margin-left: 255px;" type="button" onclick="history.back()" value="Wróć">
    </div>

    <script>
        let show = {
            desc: false,
        };
        $("#btn-treat-desc").click(function () {
            if (show.desc === false) {
                $("#ch-treat-desc").show(500)
                show.desc = true
            } else {
                $("#ch-treat-desc").hide(500)
                show.desc = false
            }
        });
    </script>
{% endblock content %}
