{% extends 'klinika/main.html' %}
{% load static %}
{% load myfilters %}
{% block headAdditional %}
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
        .select2
        {
            width: 320px !important;
            margin: 20px 326px;
        }
    </style>
{% endblock headAdditional %}
{% block content %}
    <div id="form">
        {% if error %}
            <p class="error"> {{ error }}</p>
        {% else %}
            <header class="name header">Podgląd użytkownika</header>
            <label> Nazwa użytkownika
                <input style="margin-left: 138px;" class="input_width disabled" type="text" value="{{ user.username }}"
                       disabled>
            </label>
            <label> Imię
                <input style="margin-left: 265px;" class="input_width disabled" type="text"
                       value="{{ user.first_name }}" disabled>
                <button id="btn-fname" class="btn bstyle green"> Zmień</button>
                <div id="ch-fname" style="display: none;">
                    <form method="post">
                        <input type="hidden" name="type" value="first_name">
                        {% csrf_token %}
                        <input style="margin-left: 304px;" class="input_width" type="text" name="first_name"
                               placeholder="Imię "
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Imię '">
                        <input style="margin-left: 342px;" class="green" type="submit" value="Zmień">
                    </form>
                </div>
            </label>
            <label> Nazwisko
                <input style="margin-left: 223px;" class="input_width disabled" type="text" value="{{ user.last_name }}"
                       disabled>
                <button id="btn-lname" class="btn bstyle green"> Zmień</button>
                <div id="ch-lname" style="display: none;">
                    <form method="post">
                        <input type="hidden" name="type" value="last_name">
                        {% csrf_token %}
                        <input style="margin-left: 304px;" class="input_width" type="text" name="last_name"
                               placeholder="Nazwisko "
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Nazwisko '">
                        <input style="margin-left: 342px;" class="green" type="submit" value="Zmień">
                    </form>
                </div>
            </label>
            <label> Hasło
                <input style="margin-left: 255px;" class="input_width disabled" type="password" value="haslo" disabled>
                <button id="btn-pass" class="btn bstyle green"> Zmień</button>
                <div id="ch-pass" style="display: none;">
                    <form method="post">
                        <input type="hidden" name="type" value="password">
                        {% csrf_token %}
                        <input style="margin-left: 304px;" class="input_width" type="password" name="pass1"
                               placeholder="Nowe Hasło "
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Nowe Hasło '">
                        <input style="margin-left: 304px;" class="input_width" type="password" name="pass2"
                               placeholder="Powtórz Hasło "
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Powtórz Hasło '">
                        <input style="margin-left: 342px;" class="green" type="submit" value="Zmień">
                    </form>
                </div>
            </label>
            <label> Numer telefonu
                <input style="margin-left: 175px;" class="input_width disabled" type="tel"
                       value="{{ user.phone_number }}" disabled>
                <button id="btn-phone" class="btn bstyle green"> Zmień</button>
                <div id="ch-phone" style="display: none;">
                    <form method="post">
                        <input type="hidden" name="type" value="phone_number">
                        {% csrf_token %}
                        <input style="margin-left: 306px;" type="tel" class="input_width" name="phone_number"
                               placeholder="Numer telefonu "
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Numer telefonu '">
                        <input style="margin-left: 342px;" class="green" type="submit" value="Zmień">
                    </form>
                </div>
            </label>
            <label> Adres email
                <input style="margin-left: 208px; resize: none;" class="input_width disabled" value="{{ user.email }}"
                       disabled>
                <button id="btn-email" class="btn bstyle green"> Zmień</button>
                <div id="ch-email" style="display: none;">
                    <form method="post">
                        <input type="hidden" name="type" value="email">
                        {% csrf_token %}
                        <input type="email" class="input_width" style="margin-left: 306px;" name="email"
                               placeholder="Email adres"
                               onfocus="this.placeholder=' ' "
                               onblur="this.placeholder='Email adres'" required>
                        <input style="margin-left: 342px;" class="green" type="submit" value="Zmień">
                    </form>
                </div>
            </label>
            <button id="btn-utype" class="btn bstyle green" style="float: right; margin: 20px 244px 20px 0;"> Zmień
            </button>
            <div id="still-utype" style="float: left; margin: 20px 0 20px 0;"><label> Typ użytkownika</label>
                {% for e in enum %}
                    <label class="checkbox checkbox2" style="float: left; margin-left: 300px;">
                        <input type="checkbox" {% if utypes|myany:e %} checked {% endif %} disabled>
                        <span></span>
                    </label>
                    <p style="float: left; margin-left: 20px;">{{ e }}</p>
                    <div style="clear: both"></div>
                {% endfor %}
            </div>
            <div id="ch-utype" style="float: left; margin: 20px 0 20px 0; display: none"><label> Typ użytkownika</label>
                <form method="post">
                    <input type="hidden" name="type" value="role">
                    {% for e in enum %}
                        <label class="checkbox checkbox2" style="float: left; margin-left: 300px;">
                            <input type="checkbox" {% if utypes|myany:e %} checked {% endif %}>
                            <span></span>
                        </label>
                        <p style="float: left; margin-left: 20px;">{{ e }}</p>
                        <div style="clear: both"></div>
                    {% endfor %}
                    <input style="margin-left: 348px;" class="green" type="submit" value="Zmień">
                </form>
            </div>
            <div style="clear: both"></div>

            <label style="float: left;">Adres zamieszkania</label>
            <textarea style="margin-left: 143px; white-space: normal;text-align: center;-moz-text-align-last: center;
            text-align-last: center; float: left; resize: none;"
                      class="input_width disabled" disabled>
                {{ uaddress.address }}</textarea>
            <button id="btn-address" class="btn bstyle green" style="float: right; margin: 10px 122px 10px 0;"> Zmień
                obecny adres
            </button>
            <button id="btn-address-all" class="btn bstyle green" style="float: right; margin: 10px 94px 10px 0;"> Pokaż
                wszystkie adresy
            </button>
            <div id="ch-address" style="display: none;">
                <form method="post">
                    <input type="hidden" name="type" value="chaddress">
                    {% csrf_token %}
                    <select name="addresses" id="address-choice">
                        <option disabled selected>Wybierz adres zamieszkania</option>
                        {% for address in uaddresses %}
                            <option value="{{ address.id }}">
                                {{ address.address }}
                            </option>
                        {% endfor %}
                        <option>Dodaj</option>
                    </select>
                    <div id="address-add" style="display: none">
                        <textarea style="margin-left: 312px; resize: none;" class="input_width" rows="4" name="address"
                                  placeholder="Adress zamieszkania " onfocus="this.placeholder=' ' "
                                  onblur="this.placeholder='Adress zamieszkania '"></textarea>
                    </div>
                    <script>
                        $(document).ready(() => {
                            $('#address-choice').change(
                                () => {
                                    if ($('#address-choice').val() === 'Dodaj')
                                        $('#address-add').show(500)
                                    else
                                        $('#address-add').hide(500)
                                }
                            )
                        })
                    </script>
                    <input style="margin-left: 348px;" class="green" type="submit" value="Zmień na aktualny">
                </form>
            </div>
            <div style="clear: both;"></div>
            <div id="tbl-address" style="display: none">
                <table id="table">
                    <thead>
                    <tr>
                        <th style="width: 300px;">Adres</th>
                        <th>Obecny</th>
                        <th>Szczegóły</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for address in uaddresses %}
                        <tr>
                            <td>{{ address.address }}</td>
                            <td>
                                <label class="checkbox checkbox3">
                                    <input type="checkbox" value="Aktualny" {% if address.current %} checked{% endif %}
                                           disabled>
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <div class="black">
                                    <a href="/useraddress/{{ address.id }}" class="btn bstyle">Podgląd </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if user.is_active %}
                <button style="margin-left: 350px!important;" class="danger warn"
                        id="btn-delete"
                        type="button">Dezaktywuj
                </button>
                <div id="ch-delete" style="display: none;">
                    <p class="error">Czy napewno chcesz dezaktywować tego użytkownika?</p>

                    <a href="/userdeactivation/{{ user.id }}">
                        <input class="danger danger_colour" style="margin-left: 350px!important;" type="button"
                               value="Dezaktywuj">
                    </a>
                </div>
            {% else %}
                <button style="margin-left: 350px!important; background-color: #249800;" class="danger"
                        id="btn-delete"
                        type="button">Rezaktywuj
                </button>
                <div id="ch-delete" style="display: none;">
                    <p class="success">Czy napewno chcesz rezaktywować tego użytkownika?</p>

                    <a href="/userreactivation/{{ user.id }}">
                        <input class="danger " style="margin-left: 350px!important; background-color: #249800"
                               type="button" value="Rezaktywuj">
                    </a>
                </div>
            {% endif %}

        {% endif %}
        <div style="clear: both;"></div>
        <input style="margin-left: 350px;" type="button" onclick="history.back()" value="Wróć">
    </div>
    <script>
        let show = {
            fname: false,
            lname: false,
            pass: false,
            phone: false,
            email: false,
            utype: false,
            address: false,
            addresses: false,
            delete: false
        };
        $("#btn-fname").click(() => {
            if (show.fname === false) {
                $("#ch-fname").show(500)
                show.fname = true
            } else {
                $("#ch-fname").hide(500)
                show.fname = false
            }
        });
        $("#btn-lname").click(() => {
            if (show.lname === false) {
                $("#ch-lname").show(500)
                show.lname = true
            } else {
                $("#ch-lname").hide(500)
                show.lname = false
            }
        });
        $("#btn-pass").click(() => {
            if (show.pass === false) {
                $("#ch-pass").show(500)
                show.pass = true
            } else {
                $("#ch-pass").hide(500)
                show.pass = false
            }
        });
        $("#btn-phone").click(() => {
            if (show.phone === false) {
                $("#ch-phone").show(500)
                show.phone = true
            } else {
                $("#ch-phone").hide(500)
                show.phone = false
            }
        });
        $("#btn-email").click(() => {
            if (show.email === false) {
                $("#ch-email").show(500)
                show.email = true
            } else {
                $("#ch-email").hide(500)
                show.email = false
            }
        });
        $("#btn-utype").click(() => {
            if (show.utype === false) {
                $("#still-utype").hide(500)
                $("#ch-utype").show(500)
                show.utype = true
            } else {
                $("#ch-utype").hide(500)
                $("#still-utype").show(500)
                show.utype = false
            }
        });
        $("#btn-address").click(() => {
            if (show.address === false) {
                $("#ch-address").show(500)
                show.address = true
            } else {
                $("#ch-address").hide(500)
                show.address = false
            }
        });
        $("#btn-address-all").click(() => {
            if (show.addresses === false) {
                $("#tbl-address").show(500)
                show.addresses = true
            } else {
                $("#tbl-address").hide(500)
                show.addresses = false
            }
        });
        $("#btn-delete").click(() => {
            if (show.delete === false) {
                $("#ch-delete").show(500)
                show.delete = true
            } else {
                $("#ch-delete").hide(500)
                show.delete = false
            }
        });
        $(document).ready(() => {
            $('#table').DataTable({
                language: {url: "{% static 'json/polish.json'%}"},
            });
            $('#address-choice').select2();
        });
    </script>
{% endblock content %}