{% extends 'klinika/main.html' %}
{% load static %}
{% block content %}
    <div id="form2">
        <form method="post">
            {% if error %}
                <p class="error"> {{ error }}</p>
            {% endif %}
            <header class="name" style="font-size: 30px; margin-left: 50px; margin-bottom: 20px; font-style: initial;">
                Dodawanie użytkownika
            </header>
            <label> Nazwa użytkownika </label>
            <input  style="margin-left: 252px;" type="text" class="input_width" name="username" placeholder="Nazwa użytkownika"
                   onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Nazwa użytkownika'" required>

            <label> Hasło </label>
            <input style="margin-left: 252px;" class="input_width" type="password" name="pass1" placeholder="Hasło "
                   onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Hasło '">
            <input style="margin-left: 252px;" class="input_width" type="password" name="pass2"
                   placeholder="Powtórz Hasło "
                   onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Powtórz Hasło '">

            <label> Imię </label>
            <input type="text" style="margin-top: 20px; margin-left: 252px;" class="input_width" name="first_name"
                   placeholder="Imie" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Imie' " required>

            <label> Nazwisko</label>
            <input type="text" style="margin-top: 20px; margin-left: 252px;" class="input_width" name="last_name"
                   placeholder="Nazwisko" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Nazwisko' " required>

            <label> Adres email</label>
            <input type="email" style="margin-top: 20px; margin-left: 252px;" class="input_width" name="email"
                   placeholder="Adres email" onfocus="this.placeholder=' ' "
                   onblur="this.placeholder='Adres email' " required>

            <label> Numer telefonu
                <input style="margin-left: 236px;" class="input_width" type="tel" name="phone_number"
                       placeholder="Numer telefonu "
                       onfocus="this.placeholder=' ' "
                       onblur="this.placeholder='Numer telefonu '">
            </label>
            <label> Adres zamieszkania
                <textarea style="margin-left: 236px; white-space: normal;text-align: justify;-moz-text-align-last: center;
            text-align-last: center; resize: none;" class="input_width" rows="4" name="address"
                          placeholder="Adress zamieszkania " onfocus="this.placeholder=' ' "
                          onblur="this.placeholder='Adress zamieszkania '"></textarea>
            </label>
            <label> Dodatkowe informacje</label>
            <textarea style="margin-left: 250px; white-space: normal;text-align: justify;-moz-text-align-last: center;
            text-align-last: center; resize: none;" class="input_width" rows="4" name="note"
                      placeholder="Dodatkowe informacje " onfocus="this.placeholder=' ' "
                      onblur="this.placeholder='Dodatkowe informacje '"></textarea>

            <div><label style="margin-top: 20px"> Typ użytkownika</label>
                <input type="hidden" name="type" value="role">
                {% for e in enum %}
                    <label class="checkbox checkbox4" style="float: left; margin-left: 100px;">
                        <input type="checkbox" name="role-{{ e }}">
                        <span></span>
                    </label>
                    <p style="float: left; margin-left: 20px;">{{ e }}</p>
                    <div style="clear: both"></div>
                {% endfor %}
            </div>
            <input style="margin-left: 254px" type="submit" class="green" value="zapisz dane">
            <input style="margin-left: 255px;" type="button" onclick="history.back()" value="Wróć">
        </form>
    </div>
{% endblock content %}