{% extends 'klinika/main.html' %}
{% load static %}
{% block headAdditional %}
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock headAdditional %}
{% block content %}
    {% if not hide %}
        <div class="black">
            <a href="  {% url 'addvisit' %} " class="btn bstyle "> Dodaj wizyte
            </a>
        </div>
    {% endif %}
    <div>
        {% if not empty %}
            <table id="table">
                <thead>
                <tr>
                    <th>Data wizyty</th>
                    <th>Czas wizyty</th>
                    <th>Nazwa zwierzęcia</th>
                    <th>Właściciel</th>
                    <th>Weterynarz</th>
                    {% if admin %}
                        <th>Status</th>
                    {% endif %}
                    <th>Więcej</th>
                </tr>
                </thead>
                <tbody>
                {% for visit in visit_list %}
                    <tr>
                        <td>{{ visit.visit_date|date:'Y-m-d' }}</td>
                        <td>{{ visit.visit_time|date:'H:i' }}</td>
                        <td>{{ visit.pet.name }}</td>
                        <td>{{ visit.pet.owner.first_name }} {{ visit.pet.owner.last_name }}</td>
                        <td>{{ visit.vet.first_name }} {{ visit.vet.last_name }}</td>
                        {% if admin %}
                            <td>{{ visit.status }}</td>
                        {% endif %}
                        <td>
                            {% if admin %}
                                <a href="/visitmanagement/{{ visit.id }} " class="btn bstyle">Podgląd </a>
                            {% else %}
                                <a href="/visit/{{ visit.id }} " class="btn bstyle">Podgląd </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div style="clear: both"></div>
        {% else %}
            <p> Brak wizyt do wyświetlenia! </p>
        {% endif %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                language: {url: "{% static 'json/polish.json'%}"},
            });
        });
    </script>
{% endblock content %}


