@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body
{
  background-image: url("jaj.png");
  background-size: cover;
  font-family: lato, sans-serif;
  font-style: oblique;
}

a, a:visited
{
  text-decoration: none;
  color: #8bb6db;
}
.bold{
  font-weight: bold;
}
#logo
{
  /*float: left;*/
  /*margin: 20px 20px 20px 20px;*/
  /*padding: 0;*/
  position: fixed;
  top: 20px;
  left: 50px;
}

/*region nav*/
#nav
{
  background-color: #444;
  text-align: center;
  padding: 10px 0;
  /*margin-top: 40px;*/
  margin-bottom: 20px;
  margin-left: 200px;
  width: 1600px;
  /*float: left;*/
}

ol
{
  margin: 0;
  padding: 5px 0 0 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: bolder;
  height: 35px;
  line-height: 200%;
  display: inline-block;
  /*color: #8bb6db;*/
}

ol a
{
  color: #8bb6db;
  text-decoration: none;
  display: block;
}

ol > li
{
  float: left;
  width: 200px;
  height: 40px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  display: block;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #333333;
}

ol > li:hover
{
  background-color: #66BCFA;
  color: #000000;
}

ol > li:first-child
{
  margin-left: 10px;
  margin-right: 60px;
  font-size: 24px;
  font-weight: bolder;
}

ol > li:last-child
{
  float: right;
}


ol > li:hover > a
{
  color: #000;
}

ol > li > ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: bolder;
  height: 35px;
  line-height: 200%;
  display: none;
}

ol > li:hover > ul
{
  display: block;
}

ol > li > ul > li
{
  display: block;
  background-color: #333333;
  position: relative;
  z-index: 100;
}

ol > li > ul > li:hover
{
  background-color: #66BCFA;
  color: #000000;
}

ol > li > ul > li:last-child
{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

ol > li > ul > li:hover > a
{
  color: #000000;
}

/*endregion*/

/*region container*/
#container
{
  width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

/*region main*/
main
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#signin
{
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 25px;
}
.about{
  font-size: 24px;
  text-align: center;
}
.name
{
  opacity: 80%;
  font-size: 36px;
  color: #094fd0;
  padding: 0;
  text-align: center;
  font-weight: 700;
}

#signin input
{
  border: #ddd solid 2px;
  border-radius: 5px;
  padding: 10px;
  color: #666;
  background-color: #efefef;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  width: 250px;
  outline: none;
}

#signin input[type=text]:focus,
#signin input[type=email]:focus,
#signin input[type=password]:focus
{
  border-color: #8bb6db;
  background-color: #e9eef3;
  color: #2f69ba;
}

#signin input[type=button],
#signin input[type=submit]
{
  background-color: #336fd0;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 15px 10px;
  margin-top: 20px;
  width: 274px;
}

#signin input[type=submit]:focus
{
  background-color: #A3D11F;
}

#signin input[type=submit]:hover,
#signin input[type=button]:hover
{
  background-color: #1e408e;
}

#signin label
{
  background: -webkit-linear-gradient(270deg, rgba(51, 111, 208, 1) 0%, rgba(9, 121, 112, 1) 50%, rgba(13, 103, 19, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.green
{
  background-color: #0d6713!important;
}

.green:hover
{
  background-color: #0A4D0E!important;
}

.error
{
  color: #ff3c1c;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
  display: block;
}

.success
{
  color: #249920;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
  display: block;
}

/*this is just to test.html*/
p
{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 22px;
}

.btn
{
  margin-left: 10px;
  padding: 5px 10px;
}

.bstyle
{
  border: solid 1px #1b77ce;
  background-color: #1e90ff;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.black > a, .black > a:visited
{
  color: #000000;
}

/*region datatable*/
#table_wrapper
{
  margin-top: 30px;
}

#table_wrapper #table_length
{
  margin-bottom: 10px;
  float: left;
  font-size: 20px;
  font-style: normal;
  margin-left: 5px;
}

#table_wrapper #table_length select
{
  margin: 0 10px;
  font-size: 20px;
}

#table_wrapper #table_filter
{
  margin-bottom: 10px;
  float: right;
}

#table_wrapper #table_filter input[type=search]
{
  font-size: 20px;
}

#table_wrapper #table
{
  border: #444444 solid 2px;
  clear: both;
  width: 1000px;
  text-align: center;
  font-size: 20px;
}

#table_wrapper #table thead tr th
{
  margin-right: 200px;
  border: #444444 solid 2px;
}

#table_wrapper #table thead tr th:last-child
{
  margin-right: 0;
}

#table_wrapper #table tbody tr td
{
  margin-right: 200px;
  border: #444444 solid 1px;
  padding: 10px;
}

#table_wrapper #table tbody tr td:last-child
{
  margin-right: 0;
}

#table_wrapper #table tbody tr td:last-child a
{
  padding: 5px 10px;
  margin-right: 10px;
  color: black;
  border: solid 1px #1b77ce;
  background-color: #1e90ff;
  border-radius: 12px;
}

#table_wrapper #table tbody tr td:last-child a:hover
{
  color: #FAE1D2;
  border: solid 1px #0A2E4F;
  background-color: #0F4780;
  border-radius: 12px;
}

#table_wrapper #table_info
{
  margin-top: 10px;
  float: left;
  font-size: 20px;
  font-style: normal;
  margin-left: 5px;
}

#table_wrapper #table_paginate
{
  margin-top: 10px;
  float: right;
  margin-bottom: 20px;
}

#table_wrapper #table_paginate span
{
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}

#table_wrapper #table_paginate a
{
  color: black;
  padding: 5px 10px;
  border: solid 1px #1b77ce;
  background-color: #1e90ff;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}

#table_wrapper #table_paginate a:hover
{
  color: #FAE1D2;
  border: solid 1px #0A2E4F;
  background-color: #0F4780;
  border-radius: 12px;
}

/*endregion*/

/*endregion*/

/*region footer*/
#footer
{
  color: #8bb6db;
  text-align: right !important;
  opacity: 75%;
  width: 1800px;
  font-size: 14px;
}

footer > a, footer > a:visited
{

  color: #8bb6db;

}

/*endregion*/

/*endregion*/

.sticky
{
  position: fixed;
  top: 0;
  z-index: 100;
}

.sticky #nav
{
  top: 0;
}